!.gitignore
web/bundles
web/css
web/info.php
web/js
web/img
web/images
web/Resources
web/.htaccess
app/bootstrap*
app/cache/*
app/logs/*
app/sessions/*
app/config/parameters.yml
app/SymfonyRequirements.php
vendor/*
bin/doctrine*
uploads
deps/new_versions.log

# IDE
.DS_Store
nbproject/*
catalog.xml
.idea
*.project
.vagrant
Vagrantfile
package.box
